
.text-blue{
  color: $primary;
  font-weight: 500;
  margin-right: 3px;
}

.text-grey{
  color: $grey-300;
}

.ml-5{
  margin-left: 5px;
}
.ml-3{
  margin-left: 3px;
}

.d-none{
  display: none;
}

.map_ctrl_top{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 0;
  display: flex;
  gap: 5px;
  font-size: 14px;
  letter-spacing: 0;
}

.map_ctrl_right{
  position: absolute;
  right: 10px;
  top: 54px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.map_ctrl_left{
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 300ms;
}

.map-search-input{
  position: absolute;
  left: 64px;
  top: 10px;
  z-index: 0;
  display: flex;
  border-radius: 10px;
  background: $basic;
  padding: 4px 8px 4px 12px;
  display: flex;
  align-items: center;
  margin-right: 7px;
  input{
    width: 256px;
    height: 26px;
    &::placeholder{
      color: $grey-300;
    }
  }
}


.map-search-input input, .map-search-bt{
  border: 0;
  background: none;
  height: 26px;
}

.map-search-bt{
  display: flex;
  align-items: center;
}

.bt-icons{
  &.magnify {
    width: 21px;
    height: 22px;
  }
}
  .map-view-tab{
    display: flex;
    column-gap: 7px;
    .view-tab-item{
      width: 60px;
      height: 38px;
      border: 1px solid $white;
      border-radius: 9px;
      font-size: 14px;
      font-weight: 500;
      padding-top: 13px;
      box-shadow: $box-shadow;
    }
  }
  .view-satellite{
    color: $white;
    background-color: unset;
    background-image: url("../images/map-satellite-bg.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .view-basic{
    background-color: unset;
    background-image: url("../images/map-basic-bg.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .map-widget-vertical, .map-widget-vertical-block, .map-search-input, .map-address{
    box-shadow: $box-shadow;
    border-radius: 10px;
  }
  .map-right-bt{
    width: 38px;
    height: 38px;
    border: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $white;
    transition: all 500ms;
    &:hover{
      background-color: $line;
    }
    &:active{
      background-color: $primary;
    }
    &.active{
      background-color: $primary;
      svg > *{
        fill: $white;
      }
    }
  }

.map-widget-vertical-block{
  display: flex;
  flex-direction: column;
  background-color: $white;
  justify-content: center;
  align-items: center;
  padding: 2px;
  .map-right-bt{
    width: 34px;
    height: 34px;
  }
}

  .top-info-bt{
    background-color: $body-font-color;
    margin-left: 7px;
    box-shadow: $box-shadow;
  }

  .map_ctrl_btm{
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    transition: all 300ms;
  }

  .map-coord-box{
    display: flex;
    gap: 10px;
    background-color: $white;
    border-radius: 6px;
    padding: 5px 12px;
    letter-spacing: -0.1px;
    box-shadow: $box-shadow;
    font-size: 14px;
    color: $body-font-color;
    div{
      transition: width 300ms;
    }
  }

  .sidebar-left{
    max-width: 54px;
    min-height: 100cqh;
    background-color: $black-navy;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: $box-shadow;
    .sidebar-left-footer{
      padding-bottom: 20px;
    }
    .logo{
      padding: 15px 7px;
    }
    .sidebar-tab{
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5px;
      font-size: 12px;
      font-style: normal;
      font-weight: 300;
      cursor: pointer;
      .tab-icon{
        width: 22px;
        height: 22px;
        background-repeat: no-repeat;
        background-position: center;
        &.i-safety{
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath stroke='%23fff' stroke-linejoin='round' stroke-width='1.5' d='m2.43 4.078 7.182-3.007a1 1 0 0 1 .772 0l7.182 3.007a1 1 0 0 1 .614.923v5.674a.986.986 0 0 1-.018.188c-.856 4.383-2.858 5.82-7.773 8.051a.99.99 0 0 1-.788.013c-5.057-2.107-7.077-3.99-7.771-8.076a.98.98 0 0 1-.014-.164V5.002a1 1 0 0 1 .614-.923Z'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m6.363 10.454 2.407 2.273 5.32-5'/%3E%3C/svg%3E");
        }
        &.i-drought{
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M9.48 20.167c-3.717 0-6.73-3.079-6.73-6.875 0-6.417 6.73-11.459 6.73-11.459s4.432 3.32 6.103 8'/%3E%3Cpath fill='%23fff' d='M15.42 13.523c.307.097.61.21.907.34.349.13.71.239 1.081.329.373.09.75.134 1.13.134.348 0 .696-.04 1.044-.122a7.381 7.381 0 0 0 1.018-.316.749.749 0 0 0 .422-.414.718.718 0 0 0 0-.584.672.672 0 0 0-.422-.365.77.77 0 0 0-.571.024 4.29 4.29 0 0 1-.72.232 3.467 3.467 0 0 1-.77.085c-.331 0-.65-.049-.957-.146a9.365 9.365 0 0 1-.907-.341 9.504 9.504 0 0 0-1.08-.328 4.812 4.812 0 0 0-1.13-.134c-.348 0-.696.04-1.044.121a7.381 7.381 0 0 0-1.019.317.748.748 0 0 0-.422.413.718.718 0 0 0 0 .584c.083.179.224.3.422.365.2.065.39.057.572-.024.232-.096.472-.173.72-.23.249-.058.505-.086.77-.086.33 0 .65.048.956.146ZM15.42 16.443c.307.098.61.211.907.34.349.131.71.241 1.081.33.373.089.75.133 1.13.133.348 0 .696-.04 1.044-.121a7.381 7.381 0 0 0 1.018-.317.748.748 0 0 0 .422-.413.718.718 0 0 0 0-.585.672.672 0 0 0-.422-.365.77.77 0 0 0-.571.025 4.468 4.468 0 0 1-.72.23 3.427 3.427 0 0 1-.77.086c-.331 0-.65-.049-.957-.146a9.39 9.39 0 0 1-.907-.34 9.504 9.504 0 0 0-1.08-.329 4.817 4.817 0 0 0-1.13-.134c-.348 0-.696.04-1.044.122a7.381 7.381 0 0 0-1.019.316.749.749 0 0 0-.422.414.718.718 0 0 0 0 .584c.083.178.224.3.422.365a.77.77 0 0 0 .572-.025c.232-.096.472-.173.72-.23.249-.057.505-.086.77-.086.33 0 .65.049.956.146ZM15.42 19.363c.307.098.61.211.907.341.349.13.71.24 1.081.33.373.088.75.133 1.13.133.348 0 .696-.04 1.044-.122a7.381 7.381 0 0 0 1.018-.316.748.748 0 0 0 .422-.414.718.718 0 0 0 0-.584.672.672 0 0 0-.422-.365.771.771 0 0 0-.571.024 4.468 4.468 0 0 1-.72.23 3.427 3.427 0 0 1-.77.086c-.331 0-.65-.048-.957-.146a9.365 9.365 0 0 1-.907-.34 9.504 9.504 0 0 0-1.08-.328 4.812 4.812 0 0 0-1.13-.135c-.348 0-.696.04-1.044.122a7.381 7.381 0 0 0-1.019.316.748.748 0 0 0-.422.414.718.718 0 0 0 0 .584c.083.179.224.3.422.365.2.065.39.057.572-.024.232-.097.472-.174.72-.23.249-.058.505-.086.77-.086.33 0 .65.048.956.145Z'/%3E%3C/svg%3E");

        }
        &.i-flood{
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M10.455 19.091a6.818 6.818 0 0 0 6.818-6.818C17.273 5.91 10.455.91 10.455.91s-6.818 5-6.818 11.364a6.818 6.818 0 0 0 6.818 6.818Z'/%3E%3Cpath fill='%23fff' d='M10.5 10.774c2.456 1.296 4.864.659 5.93.251.06.41.093.827.093 1.248a6.068 6.068 0 0 1-12.136 0c0-.595.065-1.18.183-1.75 1.065-.409 3.473-1.047 5.93.25Z'/%3E%3C/svg%3E");
        }
        &.i-environment{
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3E%3Crect width='6.75' height='6.75' x='1.125' y='.75' fill='%23fff' rx='2'/%3E%3Crect width='6.75' height='6.75' x='1.125' y='9.6' fill='%23fff' rx='2'/%3E%3Crect width='6.75' height='6.75' x='10.125' y='.75' fill='%23fff' rx='2'/%3E%3Crect width='6.75' height='6.75' x='10.125' y='9.6' fill='%23fff' rx='2'/%3E%3C/svg%3E");
        }
        &.i-modify{
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='26' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23fff' d='M4.966 3.309A12.478 12.478 0 0 1 9.422.646a5.055 5.055 0 0 0 1.75 1.44 4.89 4.89 0 0 0 4.36 0 5.056 5.056 0 0 0 1.75-1.44 12.477 12.477 0 0 1 4.456 2.663 5.35 5.35 0 0 0 .33 4.49 5.129 5.129 0 0 0 1.52 1.695 4.93 4.93 0 0 0 2.082.846 13.484 13.484 0 0 1 0 5.317c-1.46.232-2.806 1.118-3.602 2.542a5.35 5.35 0 0 0-.33 4.492 12.477 12.477 0 0 1-4.456 2.66 5.054 5.054 0 0 0-1.75-1.439 4.888 4.888 0 0 0-4.36 0c-.681.339-1.28.83-1.75 1.44a12.477 12.477 0 0 1-4.456-2.66 5.348 5.348 0 0 0-.33-4.492 5.13 5.13 0 0 0-1.52-1.695 4.93 4.93 0 0 0-2.082-.845 13.482 13.482 0 0 1 0-5.319 4.93 4.93 0 0 0 2.082-.845A5.13 5.13 0 0 0 4.636 7.8a5.355 5.355 0 0 0 .33-4.492Zm10.273 13.067a3.813 3.813 0 0 0 1.118-1c.305-.407.529-.872.66-1.368a4.027 4.027 0 0 0-.375-2.972 3.865 3.865 0 0 0-.976-1.148 3.725 3.725 0 0 0-1.328-.673 3.657 3.657 0 0 0-2.873.406 3.888 3.888 0 0 0-1.74 2.368 4.014 4.014 0 0 0 .38 2.947 3.794 3.794 0 0 0 2.28 1.814c.962.27 1.988.135 2.854-.374Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M.285 0h26v26h-26z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
          opacity: 0.5;
          background-size: 100%;
        }
        &.i-user{
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='26' fill='none'%3E%3Cg fill='%23fff' clip-path='url(%23a)'%3E%3Cpath d='M18.176 9.75a4.875 4.875 0 1 1-9.75 0 4.875 4.875 0 0 1 9.75 0Z'/%3E%3Cpath fill-rule='evenodd' d='M.3 13a13 13 0 1 1 26 0 13 13 0 0 1-26 0Zm13-11.375a11.375 11.375 0 0 0-8.885 18.476c1.154-1.859 3.694-3.851 8.886-3.851 5.192 0 7.73 1.99 8.885 3.851a11.375 11.375 0 0 0-8.885-18.476Z' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M.3 0h26v26H.3z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
          opacity: 0.5;
          background-size: 100%;
        }
      }
      &.active{
        background-color: $primary;
        font-style: normal;
        font-weight: 600;
        .tab-icon{
          &.i-safety{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='20' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M8.326.379a1.75 1.75 0 0 1 1.352 0l7.182 3.008A1.75 1.75 0 0 1 17.934 5v5.674c0 .11-.01.222-.032.332-.449 2.296-1.218 3.906-2.578 5.227-1.326 1.287-3.167 2.249-5.62 3.363-.437.198-.941.208-1.387.023-2.554-1.065-4.437-2.109-5.768-3.463C1.192 14.777.46 13.13.094 10.976a1.73 1.73 0 0 1-.024-.289V5.002a1.75 1.75 0 0 1 1.074-1.614L8.326.379Zm5.45 8.077a1 1 0 1 0-1.37-1.458L7.77 11.353 6.05 9.727a1 1 0 1 0-1.373 1.454l2.406 2.273a1 1 0 0 0 1.371.002l5.321-5Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          }
          &.i-drought{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none'%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2.75 13.292c0-6.417 6.73-11.459 6.73-11.459s4.015 3.008 5.843 7.334c-1.573-.917-6.156-.459-6.156 2.75v8.242c-3.572-.167-6.417-3.178-6.417-6.867Z'/%3E%3Cpath fill='%23fff' d='M15.42 13.523c.307.097.61.21.907.34.349.13.71.239 1.081.329.373.09.75.134 1.13.134.348 0 .696-.04 1.044-.122a7.381 7.381 0 0 0 1.018-.316.749.749 0 0 0 .422-.414.718.718 0 0 0 0-.584.672.672 0 0 0-.422-.365.77.77 0 0 0-.571.024 4.29 4.29 0 0 1-.72.232 3.467 3.467 0 0 1-.77.085c-.331 0-.65-.049-.957-.146a9.365 9.365 0 0 1-.907-.341 9.504 9.504 0 0 0-1.08-.328 4.812 4.812 0 0 0-1.13-.134c-.348 0-.696.04-1.044.121a7.381 7.381 0 0 0-1.019.317.748.748 0 0 0-.422.413.718.718 0 0 0 0 .584c.083.179.224.3.422.365.2.065.39.057.572-.024.232-.096.472-.173.72-.23.249-.058.505-.086.77-.086.33 0 .65.048.956.146ZM15.42 16.443c.307.098.61.211.907.34.349.131.71.241 1.081.33.373.089.75.133 1.13.133.348 0 .696-.04 1.044-.121a7.381 7.381 0 0 0 1.018-.317.748.748 0 0 0 .422-.413.718.718 0 0 0 0-.585.672.672 0 0 0-.422-.365.77.77 0 0 0-.571.025 4.468 4.468 0 0 1-.72.23 3.427 3.427 0 0 1-.77.086c-.331 0-.65-.049-.957-.146a9.39 9.39 0 0 1-.907-.34 9.504 9.504 0 0 0-1.08-.329 4.817 4.817 0 0 0-1.13-.134c-.348 0-.696.04-1.044.122a7.381 7.381 0 0 0-1.019.316.749.749 0 0 0-.422.414.718.718 0 0 0 0 .584c.083.178.224.3.422.365a.77.77 0 0 0 .572-.025c.232-.096.472-.173.72-.23.249-.057.505-.086.77-.086.33 0 .65.049.956.146ZM15.42 19.363c.307.098.61.211.907.341.349.13.71.24 1.081.33.373.088.75.133 1.13.133.348 0 .696-.04 1.044-.122a7.381 7.381 0 0 0 1.018-.316.748.748 0 0 0 .422-.414.718.718 0 0 0 0-.584.672.672 0 0 0-.422-.365.771.771 0 0 0-.571.024 4.468 4.468 0 0 1-.72.23 3.427 3.427 0 0 1-.77.086c-.331 0-.65-.048-.957-.146a9.365 9.365 0 0 1-.907-.34 9.504 9.504 0 0 0-1.08-.328 4.812 4.812 0 0 0-1.13-.135c-.348 0-.696.04-1.044.122a7.381 7.381 0 0 0-1.019.316.748.748 0 0 0-.422.414.718.718 0 0 0 0 .584c.083.179.224.3.422.365.2.065.39.057.572-.024.232-.097.472-.174.72-.23.249-.058.505-.086.77-.086.33 0 .65.048.956.145Z'/%3E%3C/svg%3E");
          }
          &.i-flood{
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='20' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M8.898.305a.75.75 0 0 0-.887 0L8.01.307 8.004.31l-.018.013a7.908 7.908 0 0 0-.293.228A23.584 23.584 0 0 0 4.47 3.725C2.723 5.82.888 8.83.888 12.273a7.568 7.568 0 0 0 15.136 0c0-3.442-1.836-6.452-3.583-8.548A23.592 23.592 0 0 0 9.216.55a13.296 13.296 0 0 0-.292-.228L8.906.31 8.901.307 8.898.305Zm5.531 10.72c-1.065.408-3.473 1.045-5.929-.252-2.457-1.297-4.865-.659-5.93-.251a8.638 8.638 0 0 0-.183 1.751 6.068 6.068 0 0 0 12.136 0c0-.422-.033-.838-.094-1.248Z' clip-rule='evenodd'/%3E%3C/svg%3E");
          }
          &.i-modify, &.i-user{
            opacity: 1;
          }
        }
      }
    }
  }

  .close-btn{
    position: absolute;
    z-index: 10;
    top: 56px;
    left: 64px;
  }

  .map-address{
    background-color: $black-navy;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    border-radius: 10px;
  }

  .map-bottom-btn{
    position: absolute;
    bottom: 10px;
    left: 64px;
    z-index: 10;
  }

  .tab-float-box{
    position: absolute;
    top: 59px;
    left: 64px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    .tab-float-box-list-wrap{
      padding: 7px;
      border-radius: 10px;
      background-color: $black-navy;
      width: max-content;
      box-shadow: $box-shadow;
      .tab-float-box-list-head{
        font-size: 14px;
        color: $white;
        font-weight: 600;
        padding: 3px 10px;
        margin-bottom: 7px;
      }
      .tab-float-box-list-main{
        display: flex;
        flex-direction: column;
        gap: 3px;
        transition: all 500ms;
        li{
          button{
            padding: 6px 20px 6px 10px;
            width: 100%;
            border-radius: 8px;
            color: $white;
            font-size: 14px;
            text-align: left;
            background: rgba(245, 245, 245, 0.20);
            &:hover{
              background: rgba(89, 182, 255, 0.50);
            }
            &.active{
              background-color: $primary;
              font-weight: 600;
            }
          }

        }
      }
    }
    .tab-float-box-button-wrap{
      display: flex;
      gap: 5px;
      .tab-float-box-btn{
        padding: 8px 14px;
        color: $white;
        background-color: $black-navy;
        width: max-content;
        box-shadow: $box-shadow;

        &.active{
          background-color: $primary;
          font-weight: 600;
        }
        &.btn-round{
          border-radius: 30px;
          padding: 6px 6px 6px 14px;
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
    }

  }

  .float-box-switch{
    &.css-julti5-MuiSwitch-root{
      width: 40px;
      height: 23px;
      border-radius: 20px;
      background: rgba(84, 166, 231, 0.50);
      .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase{
        padding: 2px;
      }
      .css-jsexje-MuiSwitch-thumb{
        width: 19px;
        height: 19px;
        background-color: $black-blue;
      }
      .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked{
        color: $primary;
        transform: translateX(17px);
        .css-jsexje-MuiSwitch-thumb {
          background-color: $primary;
        }
        }
      .css-1yjjitx-MuiSwitch-track{
        opacity: 0;
      }
      .css-5ryogn-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track{
        opacity: 0;

      }
    }
  }

  .cesium-viewer-infoBoxContainer{
    .cesium-infoBox{
      position: absolute;
      top: 10px;
      right: 50%;
      max-width: 180px;
      border: 0;
      border-radius: 8px;
      box-shadow: $box-shadow;
      background-color: $black-navy;
      .cesium-infoBox-title{
        border: 0;
        background-color: $black-navy;
        border-radius: 8px;
        font-size: 14px;
        letter-spacing: 0;
      }
      .button{
        &.cesium-infoBox-camera{
          left: 8px;
        }
      }
    }

    .cesium-infoBox-visible{
      transform: translateX(50%);
    }

  }

.TestChartWidget{
  z-index: 10;
  width: auto;
  height: auto;
  background-color: $white;
  border-radius: 10px;
  box-shadow: $box-shadow;
  .map-popup-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    .map-popup-box-header{
      border-radius: 10px 10px 0 0;
      padding: 10px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 100%;
      background-color: $primary-100;
      flex: 0 0 auto;
      .map-popup-box-title{
        font-size: 14px;
        color: black;
      }
    }
    .map-popup-box-body{
    }
  }
}

.popup-close-btn{
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'%3E%3Cpath stroke='%23004478' stroke-linecap='round' stroke-width='1.5' d='m12.754 1-6 6m-6 6 6-6m0 0 6 6m-6-6-6-6'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}
