:root{
  --color-primary: $primary;
}

#map {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  height: 100%;
}

.map_ctrl_top{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 0;
  display: flex;
  gap: 5px;
  font-size: 14px;
  letter-spacing: 0;
}

.map_ctrl_btm{
  position: absolute;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
  transition: all 300ms;
}

.map_ctrl_right{
  position: absolute;
  right: 10px;
  top: 74px;
  z-index: 0;
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}

.map_ctrl_left{
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 300ms;
}

.input-basic-search {
  display: flex;
  border-radius: 10px;
  padding: 4px 8px 4px 12px;
  align-items: center;

  input{
    background-color: transparent;
    font-weight: 300;

    &::placeholder{
      color: $body-font-color;
    }
    &:focus-visible{
      outline: 1px solid $primary-deep;
    }
  }

  &.map-search-input {
    position: absolute;
    right: calc(50% - (310px / 2));
    top: 10px;
    z-index: 0;
    background-color: $black-navy;

    input {
      width: 256px;
      height: 26px;
    }

    &.bed-open {
      border-radius: 10px 10px 0 0;
    }
  }
  &.panel-input{
    flex: 1 1 auto;
    border-radius: 8px;
    background-color: $blue-dark;

    input{
      width: 100%;
      border: 0;
      height: 26px;
    }

    &:focus{
      background-color: $primary-200;
    }
  }
}

.address-bed-wrap {
  position: absolute;
  right: calc(50% - (310px / 2));
  top: 44px;
  background: $black-navy;
  width: 310px;
  overflow: hidden;

  &.map-basic-style {
    border-radius: 0 0 10px 10px;
  }

  .address-bed-list {
    border: 0;
    height: 360px;
    overflow-y: auto;

    .address-bed-list-item {
      padding: 14px;
      border-top: 1px solid $line-light;
      transition: all 300ms;
      cursor: pointer;

      &:hover {
        background-color: $blue-dark;
        border-top: 1px solid $blue-dark;
      }

      .address-item-wrap {
        line-height: 1.5;

        .address-item-title{
          font-weight: 500;
          margin-bottom: 4px;
        }

        .address-item-sub {
          font-size: 12px;
          color: $grey-200;
        }

        .road-tag {
          display: inline-block;
          margin-right: 3px;
          font-weight: 500;
          padding: 1px 6px;
          background-color: $blue-dark;
          border-radius: 4px;
          margin-top: 3px;
        }
      }
    }
  }
}

.map-search-input input, .map-search-bt{
  border: 0;
  background: none;
  height: 26px;
}

.map-search-bt{
  display: flex;
  align-items: center;
}

.bt-icons{
  &.magnify {
    width: 21px;
    height: 22px;
  }
}


.map-view-tab{
  display: flex;
  column-gap: 7px;
  .view-tab-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    padding: 1px;
    font-size: 13px;
    font-weight: 500;
    box-shadow: $box-shadow;
    background-color: white;
    span{
      display: block;
      padding: 2px 0;
    }
    img{
      border-radius: 0 0 9px 9px;
    }
    &.on{
      background-color: $primary;
      color: white;
      font-weight: 600;
    }
  }
}
.map-basic-style{
  box-shadow: $box-shadow;
  border-radius: 10px;
}
.mapRightBt{
  width: 30px;
  height: 30px;
  border: 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  transition: all 500ms;
  &:hover{
    background-color: $line;
  }
  &:active{
    background-color: $primary;
  }
  &.active{
    background-color: $primary;
    svg > *{
      fill: $white;
    }
  }
}

.map-widget-vertical-block{
  display: flex;
  flex-direction: column;
  background-color: $white;
  justify-content: center;
  align-items: center;
  padding: 2px;
  .map-right-bt{
    width: 28px;
    height: 28px;
  }
  &.active{
    background-color: $primary;
    .mapRightBt{
      background-color: $primary;
      svg{
        path{
          fill: $white;
        }
      }
    }
  }
}

.top-info-bt{
  background-color: $body-font-color;
  margin-left: 7px;
  box-shadow: $box-shadow;
}


.map-coord-box{
  display: flex;
  gap: 10px;
  background-color: $black-navy;
  border-radius: 6px;
  padding: 5px 12px;
  letter-spacing: 0;
  box-shadow: $box-shadow;
  font-size: 12px;
  color: $white;
  div{
    transition: width 300ms;
  }
}

.sidebar-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  max-width: 54px;
  min-height: 100dvh;
  background-color: $black-navy;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: $box-shadow;

  .sidebar-left-footer{
    padding-bottom: 20px;
  }

  .logo {
    padding: 15px 7px;
    height: 54px;
  }
  .sidebar-tab{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    color: $white;
    cursor: pointer;
    .tab-icon{
      width: 22px;
      height: 22px;
      background-repeat: no-repeat;
      background-position: center;
      &.i-safety{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath stroke='%23fff' stroke-linejoin='round' stroke-width='1.5' d='m2.43 4.078 7.182-3.007a1 1 0 0 1 .772 0l7.182 3.007a1 1 0 0 1 .614.923v5.674a.986.986 0 0 1-.018.188c-.856 4.383-2.858 5.82-7.773 8.051a.99.99 0 0 1-.788.013c-5.057-2.107-7.077-3.99-7.771-8.076a.98.98 0 0 1-.014-.164V5.002a1 1 0 0 1 .614-.923Z'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m6.363 10.454 2.407 2.273 5.32-5'/%3E%3C/svg%3E");
      }
      &.i-drought{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M9.48 20.167c-3.717 0-6.73-3.079-6.73-6.875 0-6.417 6.73-11.459 6.73-11.459s4.432 3.32 6.103 8'/%3E%3Cpath fill='%23fff' d='M15.42 13.523c.307.097.61.21.907.34.349.13.71.239 1.081.329.373.09.75.134 1.13.134.348 0 .696-.04 1.044-.122a7.381 7.381 0 0 0 1.018-.316.749.749 0 0 0 .422-.414.718.718 0 0 0 0-.584.672.672 0 0 0-.422-.365.77.77 0 0 0-.571.024 4.29 4.29 0 0 1-.72.232 3.467 3.467 0 0 1-.77.085c-.331 0-.65-.049-.957-.146a9.365 9.365 0 0 1-.907-.341 9.504 9.504 0 0 0-1.08-.328 4.812 4.812 0 0 0-1.13-.134c-.348 0-.696.04-1.044.121a7.381 7.381 0 0 0-1.019.317.748.748 0 0 0-.422.413.718.718 0 0 0 0 .584c.083.179.224.3.422.365.2.065.39.057.572-.024.232-.096.472-.173.72-.23.249-.058.505-.086.77-.086.33 0 .65.048.956.146ZM15.42 16.443c.307.098.61.211.907.34.349.131.71.241 1.081.33.373.089.75.133 1.13.133.348 0 .696-.04 1.044-.121a7.381 7.381 0 0 0 1.018-.317.748.748 0 0 0 .422-.413.718.718 0 0 0 0-.585.672.672 0 0 0-.422-.365.77.77 0 0 0-.571.025 4.468 4.468 0 0 1-.72.23 3.427 3.427 0 0 1-.77.086c-.331 0-.65-.049-.957-.146a9.39 9.39 0 0 1-.907-.34 9.504 9.504 0 0 0-1.08-.329 4.817 4.817 0 0 0-1.13-.134c-.348 0-.696.04-1.044.122a7.381 7.381 0 0 0-1.019.316.749.749 0 0 0-.422.414.718.718 0 0 0 0 .584c.083.178.224.3.422.365a.77.77 0 0 0 .572-.025c.232-.096.472-.173.72-.23.249-.057.505-.086.77-.086.33 0 .65.049.956.146ZM15.42 19.363c.307.098.61.211.907.341.349.13.71.24 1.081.33.373.088.75.133 1.13.133.348 0 .696-.04 1.044-.122a7.381 7.381 0 0 0 1.018-.316.748.748 0 0 0 .422-.414.718.718 0 0 0 0-.584.672.672 0 0 0-.422-.365.771.771 0 0 0-.571.024 4.468 4.468 0 0 1-.72.23 3.427 3.427 0 0 1-.77.086c-.331 0-.65-.048-.957-.146a9.365 9.365 0 0 1-.907-.34 9.504 9.504 0 0 0-1.08-.328 4.812 4.812 0 0 0-1.13-.135c-.348 0-.696.04-1.044.122a7.381 7.381 0 0 0-1.019.316.748.748 0 0 0-.422.414.718.718 0 0 0 0 .584c.083.179.224.3.422.365.2.065.39.057.572-.024.232-.097.472-.174.72-.23.249-.058.505-.086.77-.086.33 0 .65.048.956.145Z'/%3E%3C/svg%3E");

      }
      &.i-flood{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M10.455 19.091a6.818 6.818 0 0 0 6.818-6.818C17.273 5.91 10.455.91 10.455.91s-6.818 5-6.818 11.364a6.818 6.818 0 0 0 6.818 6.818Z'/%3E%3Cpath fill='%23fff' d='M10.5 10.774c2.456 1.296 4.864.659 5.93.251.06.41.093.827.093 1.248a6.068 6.068 0 0 1-12.136 0c0-.595.065-1.18.183-1.75 1.065-.409 3.473-1.047 5.93.25Z'/%3E%3C/svg%3E");
      }
      &.i-environment{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3E%3Crect width='6.75' height='6.75' x='1.125' y='.75' fill='%23fff' rx='2'/%3E%3Crect width='6.75' height='6.75' x='1.125' y='9.6' fill='%23fff' rx='2'/%3E%3Crect width='6.75' height='6.75' x='10.125' y='.75' fill='%23fff' rx='2'/%3E%3Crect width='6.75' height='6.75' x='10.125' y='9.6' fill='%23fff' rx='2'/%3E%3C/svg%3E");
      }
      &.i-modify{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='26' fill='none'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath fill='%23fff' d='M4.966 3.309A12.478 12.478 0 0 1 9.422.646a5.055 5.055 0 0 0 1.75 1.44 4.89 4.89 0 0 0 4.36 0 5.056 5.056 0 0 0 1.75-1.44 12.477 12.477 0 0 1 4.456 2.663 5.35 5.35 0 0 0 .33 4.49 5.129 5.129 0 0 0 1.52 1.695 4.93 4.93 0 0 0 2.082.846 13.484 13.484 0 0 1 0 5.317c-1.46.232-2.806 1.118-3.602 2.542a5.35 5.35 0 0 0-.33 4.492 12.477 12.477 0 0 1-4.456 2.66 5.054 5.054 0 0 0-1.75-1.439 4.888 4.888 0 0 0-4.36 0c-.681.339-1.28.83-1.75 1.44a12.477 12.477 0 0 1-4.456-2.66 5.348 5.348 0 0 0-.33-4.492 5.13 5.13 0 0 0-1.52-1.695 4.93 4.93 0 0 0-2.082-.845 13.482 13.482 0 0 1 0-5.319 4.93 4.93 0 0 0 2.082-.845A5.13 5.13 0 0 0 4.636 7.8a5.355 5.355 0 0 0 .33-4.492Zm10.273 13.067a3.813 3.813 0 0 0 1.118-1c.305-.407.529-.872.66-1.368a4.027 4.027 0 0 0-.375-2.972 3.865 3.865 0 0 0-.976-1.148 3.725 3.725 0 0 0-1.328-.673 3.657 3.657 0 0 0-2.873.406 3.888 3.888 0 0 0-1.74 2.368 4.014 4.014 0 0 0 .38 2.947 3.794 3.794 0 0 0 2.28 1.814c.962.27 1.988.135 2.854-.374Z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M.285 0h26v26h-26z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        opacity: 0.5;
        background-size: 100%;
      }
      &.i-user{
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='27' height='26' fill='none'%3E%3Cg fill='%23fff' clip-path='url(%23a)'%3E%3Cpath d='M18.176 9.75a4.875 4.875 0 1 1-9.75 0 4.875 4.875 0 0 1 9.75 0Z'/%3E%3Cpath fill-rule='evenodd' d='M.3 13a13 13 0 1 1 26 0 13 13 0 0 1-26 0Zm13-11.375a11.375 11.375 0 0 0-8.885 18.476c1.154-1.859 3.694-3.851 8.886-3.851 5.192 0 7.73 1.99 8.885 3.851a11.375 11.375 0 0 0-8.885-18.476Z' clip-rule='evenodd'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M.3 0h26v26H.3z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
        opacity: 0.5;
        background-size: 100%;
      }
    }
    &.active{
      background-color: $primary;
      font-style: normal;
      font-weight: 600;
      .tab-icon{
        &.i-safety{
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='20' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M8.326.379a1.75 1.75 0 0 1 1.352 0l7.182 3.008A1.75 1.75 0 0 1 17.934 5v5.674c0 .11-.01.222-.032.332-.449 2.296-1.218 3.906-2.578 5.227-1.326 1.287-3.167 2.249-5.62 3.363-.437.198-.941.208-1.387.023-2.554-1.065-4.437-2.109-5.768-3.463C1.192 14.777.46 13.13.094 10.976a1.73 1.73 0 0 1-.024-.289V5.002a1.75 1.75 0 0 1 1.074-1.614L8.326.379Zm5.45 8.077a1 1 0 1 0-1.37-1.458L7.77 11.353 6.05 9.727a1 1 0 1 0-1.373 1.454l2.406 2.273a1 1 0 0 0 1.371.002l5.321-5Z' clip-rule='evenodd'/%3E%3C/svg%3E");
        }
        &.i-drought{
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none'%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2.75 13.292c0-6.417 6.73-11.459 6.73-11.459s4.015 3.008 5.843 7.334c-1.573-.917-6.156-.459-6.156 2.75v8.242c-3.572-.167-6.417-3.178-6.417-6.867Z'/%3E%3Cpath fill='%23fff' d='M15.42 13.523c.307.097.61.21.907.34.349.13.71.239 1.081.329.373.09.75.134 1.13.134.348 0 .696-.04 1.044-.122a7.381 7.381 0 0 0 1.018-.316.749.749 0 0 0 .422-.414.718.718 0 0 0 0-.584.672.672 0 0 0-.422-.365.77.77 0 0 0-.571.024 4.29 4.29 0 0 1-.72.232 3.467 3.467 0 0 1-.77.085c-.331 0-.65-.049-.957-.146a9.365 9.365 0 0 1-.907-.341 9.504 9.504 0 0 0-1.08-.328 4.812 4.812 0 0 0-1.13-.134c-.348 0-.696.04-1.044.121a7.381 7.381 0 0 0-1.019.317.748.748 0 0 0-.422.413.718.718 0 0 0 0 .584c.083.179.224.3.422.365.2.065.39.057.572-.024.232-.096.472-.173.72-.23.249-.058.505-.086.77-.086.33 0 .65.048.956.146ZM15.42 16.443c.307.098.61.211.907.34.349.131.71.241 1.081.33.373.089.75.133 1.13.133.348 0 .696-.04 1.044-.121a7.381 7.381 0 0 0 1.018-.317.748.748 0 0 0 .422-.413.718.718 0 0 0 0-.585.672.672 0 0 0-.422-.365.77.77 0 0 0-.571.025 4.468 4.468 0 0 1-.72.23 3.427 3.427 0 0 1-.77.086c-.331 0-.65-.049-.957-.146a9.39 9.39 0 0 1-.907-.34 9.504 9.504 0 0 0-1.08-.329 4.817 4.817 0 0 0-1.13-.134c-.348 0-.696.04-1.044.122a7.381 7.381 0 0 0-1.019.316.749.749 0 0 0-.422.414.718.718 0 0 0 0 .584c.083.178.224.3.422.365a.77.77 0 0 0 .572-.025c.232-.096.472-.173.72-.23.249-.057.505-.086.77-.086.33 0 .65.049.956.146ZM15.42 19.363c.307.098.61.211.907.341.349.13.71.24 1.081.33.373.088.75.133 1.13.133.348 0 .696-.04 1.044-.122a7.381 7.381 0 0 0 1.018-.316.748.748 0 0 0 .422-.414.718.718 0 0 0 0-.584.672.672 0 0 0-.422-.365.771.771 0 0 0-.571.024 4.468 4.468 0 0 1-.72.23 3.427 3.427 0 0 1-.77.086c-.331 0-.65-.048-.957-.146a9.365 9.365 0 0 1-.907-.34 9.504 9.504 0 0 0-1.08-.328 4.812 4.812 0 0 0-1.13-.135c-.348 0-.696.04-1.044.122a7.381 7.381 0 0 0-1.019.316.748.748 0 0 0-.422.414.718.718 0 0 0 0 .584c.083.179.224.3.422.365.2.065.39.057.572-.024.232-.097.472-.174.72-.23.249-.058.505-.086.77-.086.33 0 .65.048.956.145Z'/%3E%3C/svg%3E");
        }
        &.i-flood{
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='20' fill='none'%3E%3Cpath fill='%23fff' fill-rule='evenodd' d='M8.898.305a.75.75 0 0 0-.887 0L8.01.307 8.004.31l-.018.013a7.908 7.908 0 0 0-.293.228A23.584 23.584 0 0 0 4.47 3.725C2.723 5.82.888 8.83.888 12.273a7.568 7.568 0 0 0 15.136 0c0-3.442-1.836-6.452-3.583-8.548A23.592 23.592 0 0 0 9.216.55a13.296 13.296 0 0 0-.292-.228L8.906.31 8.901.307 8.898.305Zm5.531 10.72c-1.065.408-3.473 1.045-5.929-.252-2.457-1.297-4.865-.659-5.93-.251a8.638 8.638 0 0 0-.183 1.751 6.068 6.068 0 0 0 12.136 0c0-.422-.033-.838-.094-1.248Z' clip-rule='evenodd'/%3E%3C/svg%3E");
        }
        &.i-modify, &.i-user{
          opacity: 1;
        }
      }
    }
  }
}
.panel-close-btn{
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
  padding: 0;
}

.map-address{
  background-color: $black-navy;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  border-radius: 10px;
}

.map-bottom-btn{
  position: absolute;
  bottom: 10px;
  left: 64px;
  z-index: 10;
}


.tab-float-box{
  position: absolute;
  top: 59px;
  left: 64px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;

  &.bottom-left{
    top: unset;
    bottom: 10px;
    left: 64px;
  }
  &.top-left-list{
    top: 99px;
  }
  .tab-float-box-button-wrap{
    display: flex;
    gap: 5px;
    &.css-1gjgmky-MuiToggleButtonGroup-root{
      .MuiToggleButtonGroup-grouped:not(:first-of-type),.MuiToggleButtonGroup-grouped:not(:last-of-type){
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-left: 0;
        border-left: 0;
      }
    }
    .tab-float-box-btn{
      padding: 9px 14px;
      color: $white;
      background-color: $black-navy;
      width: max-content;
      box-shadow: $box-shadow;
      border-radius: 10px;
      font-size: 14px;
      line-height: 1;
      font-weight: 400;
      letter-spacing: 0;
      border: 0;
      text-transform: unset;

      &.btn-round{
        border-radius: 30px;
        padding: 6px 6px 6px 14px;
        display: flex;
        align-items: center;
        gap: 8px;
        &.active{
          background-color: $primary;
          font-weight: 600;
        }
      }
      &.Mui-selected{
        background-color: $primary;
        font-weight: 600;
        color: $white;
      }
      .css-8je8zh-MuiTouchRipple-root > * {
        background: rgba(89, 182, 255, 0.40);
      }
    }
  }
  .tab-float-box-list-wrap{
    padding: 7px;
    border-radius: 10px;
    background-color: $black-navy;
    width: 122px;
    box-shadow: $box-shadow;
    .tab-float-box-list-head{
      font-size: 14px;
      color: $white;
      font-weight: 600;
      padding: 2px 10px;
      //text-align: center;
      margin-bottom: 7px;
    }
    .list-main{
      display: flex;
      flex-direction: column;
      gap: 3px;
      transition: all 500ms;
      padding: 0;
      &.css-1gjgmky-MuiToggleButtonGroup-root{
        .MuiToggleButtonGroup-grouped:not(:first-of-type),.MuiToggleButtonGroup-grouped:not(:last-of-type){
          border-top-left-radius: 8px;
          border-bottom-left-radius: 8px;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
      .list-item{
        padding: 6px 20px 6px 10px;
        width: 100%;
        border-radius: 8px;
        color: $white;
        font-size: 14px;
        background: rgba(245, 245, 245, 0.20);
        box-shadow: none;
        justify-content: flex-start;
        &:hover{
          background: rgba(89, 182, 255, 0.40);
          }
        .css-8je8zh-MuiTouchRipple-root > * {
          background: rgba(89, 182, 255, 0.40);
        }
          &.active{
            background-color: $primary;
            font-weight: 600;
          }
        &.Mui-selected{
          background-color: $primary;
          font-weight: 600;
        }
      }
    }
  }
}

.float-box-switch{
  &.css-julti5-MuiSwitch-root{
    width: 40px;
    height: 23px;
    border-radius: 20px;
    padding: 0;
    .MuiSwitch-track{
      background-color: #BEBEBE;
      opacity: 1;
    }
    .MuiSwitch-thumb{
      width: 19px;
      height: 19px;
      background-color: $white;
    }
    .MuiSwitch-switchBase{
      padding: 2px;
      top: 0px;
      left: 0px;
      &.Mui-checked{
        color: $primary;
        transform: translateX(17px);
        & + .MuiSwitch-track{
          background-color: $primary;
          opacity: 1;
        }
        .MuiSwitch-thumb{
          background-color: $white;
        }
      }
    }
  }
  .Mui-disabled{
    opacity: 0.55;
    .css-jsexje-MuiSwitch-thumb{
      box-shadow: none;
    }
  }
}

.cesium-viewer-infoBoxContainer{
  .cesium-infoBox{
    position: absolute;
    top: 10px;
    right: 50%;
    max-width: 180px;
    border: 0;
    border-radius: 8px;
    box-shadow: $box-shadow;
    background-color: $black-navy;
    .cesium-infoBox-title{
      border: 0;
      background-color: $black-navy;
      border-radius: 8px;
      font-size: 14px;
      letter-spacing: 0;
    }
    .button{
      &.cesium-infoBox-camera{
        left: 8px;
      }
    }
  }

  .cesium-infoBox-visible{
    transform: translateX(50%);
  }

}

.map_widget {
  max-width: 320px;
  width: auto;
  height: auto;
  background-color: $black-navy;
  border-radius: 10px;

  .widget-box {
    width: fit-content;

    .widget-header {
      padding: 10px;
      width: 100%;
      border-bottom: 1px solid $line-light;

      .widget-title {
        font-size: 14px;
        font-weight: 500;
      }
    }
    .widget-body{
      width: auto;
      padding: 15px 10px 10px;
      border-radius: 0 0 10px 10px;

      ul {
        display: flex;
        flex-direction: row;
        gap: 5px;
        flex-wrap: wrap;

        li {
          display: flex;
          flex-wrap: nowrap;
          font-size: 12px;
          font-weight: 400;
          padding-right: 10px;
        }
      }

      .widget-legend-chip{
        display: inline-block;
        width: 18px;
        height: 13px;
        margin-right: 4px;
        border-radius: 3px;
        background-color: $basic;
        &.legend-test-1{
          background-color: #86E1F4;
        }
        &.legend-test-2{
          background-color: #5DD38C;
        }
        &.legend-test-3{
          background-color: #FAEB66;
        }
        &.legend-test-4{
          background-color: #FFAD33;
        }
        &.legend-test-5{
          background-color: #E95757;
        }
        &.legend-test-6{
          background-color: #682323;
        }
        &.e-w-velocity{
          background: linear-gradient(0deg, #EE6969 0%, #FFE34F 25.52%, #8FE99E 52.08%, #89F7F7 77.08%, #5E52EC 100%);
        }
      }
    }
    &.legend-gradient{
      .widget-body{
        display: flex;
        flex-direction: column;
        gap: 3px;
        padding: 10px 10px 5px;
        .widget-legend-chip{
          width: 230px;
          height: 17px;
          margin-right: 0;
        }
        .widget-legend-unit{
          display: flex;
          justify-content: space-between;
          li{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            gap: 3px;
            font-size: 10px;
            padding-right: 0;
            &:before{
              //content: '';
              display: block;
              width: 1px;
              height: 5px;
              background-color: $grey-400;
            }
          }
        }
      }
    }
  }
}

.map-popup-box-wrap{
  position: absolute;
  z-index: 10;
  &.box-point{
    &:before{
      content: url("data:image/svg+xml,%3Csvg width='16' height='18' viewBox='0 0 16 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.6566 2.31627C15.1253 3.76798 15.9653 5.72745 15.9989 7.78033C16.0326 9.83321 15.2573 11.8186 13.837 13.3166L13.6566 13.5011L9.88513 17.2285C9.40659 17.7013 8.76415 17.9765 8.08798 17.9986C7.4118 18.0206 6.75243 17.7877 6.24344 17.3471L6.11545 17.2285L2.3431 13.5002C0.842842 12.0171 0 10.0056 0 7.90825C0 5.81085 0.842842 3.79936 2.3431 2.31627C3.84336 0.833188 5.87816 0 7.99984 0C10.1215 0 12.1563 0.833188 13.6566 2.31627Z' fill='%2354A6E7'/%3E%3C/svg%3E%0A");
      position: absolute;
      top: -24px;
      left: -10px;
    }
  }
  .map-popup-box{
    max-width: 300px;
    width: auto;
    height: auto;
    background-color: $white;
    border-radius: 10px;
    box-shadow: $box-shadow;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    min-width: 140px;
  .map-popup-box-header{
    border-radius: 10px 10px 0 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    max-width: 100%;
    flex: 0 0 auto;
    .map-popup-box-title{
      font-size: 14px;
      font-weight: 600;
    }
  }
  .map-popup-box-body{
    padding: 15px 10px 10px;
    border-radius: 0 0 10px 10px;
    background-color: $basic;
    text-align: center;
    .img-wrap{
      img{
        width: 100%;
      }
    }

    .table-wrap{
      padding-top: 15px;
      flex: 1 0 auto;
      justify-content: stretch;
      align-items: stretch;
      align-self: stretch;
      .popup-table{
        table-layout: fixed;
        border-collapse: collapse;
        font-size: 14px;
        color: $body-font-color;
        width: 100%;
        thead{
          tr{
            border-top: 1px solid $primary;
            > th,td{
              background-color: $primary-100;
              padding: 5px 5px;
              &:not(:last-child){
                border-right: 1px solid $line;
              }
              .th-unit{
                font-size: 12px;
                font-weight: 400;
              }
            }
          }
        }
        tbody{
          tr{
            > th, td{
              padding: 4px 6px;
              text-align: right;
              &:not(:last-child){
                border-right: 1px solid $line;
              }
            }
            &:nth-child(even){
              background-color: $basic;
            }
          }
        }
      }
    }

  }
  }

}

.popup-close-btn{
  width: 14px;
  height: 14px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' fill='none'%3E%3Cpath stroke='%23004478' stroke-linecap='round' stroke-width='1.5' d='m12.754 1-6 6m-6 6 6-6m0 0 6 6m-6-6-6-6'/%3E%3C/svg%3E");
  background-position: center;
  background-repeat: no-repeat;
}

.widget-legend{
  z-index: 10;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: fit-content;
  height: fit-content;
  background-color: $white;
  border-radius: 10px;
  box-shadow: $box-shadow;

  &.safety{
    right: unset;
    left: 64px;
    bottom: unset;
    top: 265px;
    //transform: translateY(-50%);
  }

  dl.widget-legend-wrap{
      dt{
        h4{
          font-size: 13px;
          font-weight: 600;
          color: $body-font-color;
        }
        width: auto;
        margin-bottom: 10px;
      }
      dd{
        background-color: $basic;
        ul{
          display: flex;
          flex-direction: column;
          gap: 5px;
          li{
            display: flex;
            font-size: 12px;
            font-weight: 400;
            color: $body-font-color;
            padding-right: 10px;
          }
        }
      }
  }
}

.thematic-layers-box{
  position: absolute;
  top: 74px; //map_ctrl_right 기준, 화면 기준: 54px
  right: 50px; //화면기준 50px
  background-color: $white;
  border-radius: 10px ;
  padding: 7px;
  width: max-content;
  min-width: 120px;
  .box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 6px 3px 10px;
    .box-title{
      font-size: 14px;
    }
  }
  .thematic-layers-box-wrap{
    display: flex;
    flex-direction: column;
    gap: 4px;
    flex: 1 0 120px;
    .thematic-layer-item{
      padding: 0;
      .MuiTreeItem-content{
        padding: 0;
        background: $basic;
        border-radius: 8px;
        display: flex;
        min-width: 160px;
        align-items: center;
        .MuiTreeItem-iconContainer{
          //display: none;
          order: 2;
          margin-right: 10px;
          width: auto;
          svg{
            font-size: unset;
          }
          .css-1m9ymud-MuiSvgIcon-root{
            width: inherit;
            height: inherit;
          }
        }
        &.Mui-selected{
          background: rgba(84, 166, 231, 0.20);
        }
        .MuiTreeItem-label{
          order: 1;
          padding: 6px 10px;
          span{
            color: $body-font-color;
            font-size: 14px;
            line-height: 1;
          }
        }
      }
      .MuiTreeItem-group{
        margin-left: 0;
        margin-top: 4px;
        .MuiCollapse-wrapper{
          .MuiCollapse-wrapperInner{
            .MuiTreeItem-content{
              background-color: $white;
              &.Mui-selected{
                background: rgba(84, 166, 231, 0.20);
              }
              .MuiTreeItem-label{
                padding: 4px 10px 4px 20px;
              }
            }
          }
        }
      }
    }
  }

}



.check-box{
  background-repeat: no-repeat;
  background-position: center;
  &.MuiCheckbox-root{
    padding: 0;
    .MuiTreeItem-label{
    }
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Crect width='16' height='16' fill='%23D9D9D9' rx='4'/%3E%3C/svg%3E");
    &.Mui-checked{
      color: $primary;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Crect width='16' height='16' fill='%2354A6E7' rx='4'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m5 8 2 2 4-4'/%3E%3C/svg%3E");
    }
    &.MuiCheckbox-indeterminate{
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none'%3E%3Crect width='16' height='16' fill='%2354A6E7' rx='4'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 8h6'/%3E%3C/svg%3E");
    }
  }

  .PrivateSwitchBase-input{
  }
  .MuiSvgIcon-root{
    border-radius: 3px;
    path{
      display: none;
    }
  }
}

.loading{
  width: 100%;
  height: 100cqh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  .pageLoading{
    display: block;
  }
}

.panel {
  position: absolute;
  z-index: 3;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: $black-navy;
  box-shadow: $box-shadow;
  transition: all 300ms;
  display: flex;
  flex-direction: column;

  &.side-panel {
    height: unset;
    top: 10px;
    left: 310px;

    .panel-header {
    }

    &.fold{
      left: -300px;
    }
  }
  &.panel-left {
    left: 54px;
    border-left: 1px solid $line-light;

    &.fold{
      left: -354px;
    }
  }
  .panel-header {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 54px;
    flex: 0 0 auto;
    border-bottom: 1px solid $line-light;

    .panel-title {
      font-size: 16px;
      color: $body-font-color;
      font-weight: 500;
    }
    .css-1kuq5xv-MuiButtonBase-root-MuiIconButton-root{
      padding: 0;
    }
  }
  .content-block, .content-body{
    padding-bottom: 15px;
    height: auto;
    &.border-top{
      border-top: 1px solid rgba(0,0,0,0.05);
    }
    &.pb-0{
      padding-bottom: 0;
    }
    &.bg-grey{
      background-color: $grey-200;
    }
    &.filled{
      height: 100%;
    }
    .content-row{
      padding: 15px 10px 0;
      position: relative;
      .content-row-header{
        padding-bottom: 8px;
        display: flex;
        justify-content: space-between;

        .content-row-title {
          font-size: 14px;
          color: $body-font-color;
          font-weight: 500;
          display: flex;
          gap: 5px;
        }
      }
      &.empty-wrap{
        height: 80%;
      }
      .panel-box {
        background-color: $white-alpha-5;
        backdrop-filter: blur(2px);
        padding: 10px;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 10px;

        &.full-width {
          padding: 0;
        }

        &.bg-floor-chart {
          background-color: $black-alpha-40;
        }

        &.info-head{
          padding: 6px;
        }
        &.mb-0{
          margin-bottom: 0;
        }
        .panel-box-header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 5px;

          &.box-title{
            background-color: $black-blue;
            padding: 8px 10px;
            border-radius: 8px;
            margin-bottom: 6px;

            .panel-box-title {
              letter-spacing: 0;
            }
          }
        }
        .panel-box-title{
          font-size: 14px;
        }
        .panel-box-content:not(:last-child){
          margin-bottom: 10px;
        }
        &.point-box{
          padding: 0;
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
          .panel-box-header{
            padding: 10px;
            .panel-box-title{
              font-size: 14px;
              line-height: 1;
            }
            .point-icon{
              width: 10px;
              height: 10px;
              border-radius: 10px;
            }
          }
          .panel-body{
            padding: 4px;
            font-size: 14px;
          }
          &.point-1{
            .panel-box-header{
              background-color: $primary-200;
              .point-icon{
                background-color: $primary;
              }
            }
          }
          &.point-2{
            .panel-box-header{
              background-color: #FFEBD6;
              .point-icon{
                background-color: $orange;
              }
            }
          }
          &.point-3{
            .panel-box-header{
              background-color: #CCDAE4;
              .point-icon{
                background-color: $navy;
              }
            }
          }
          &.point-4{
            .panel-box-header{
              background-color: #CFF0EC;
              .point-icon{
                background-color: $leaf;
              }
            }
          }
          &.point-5{
            .panel-box-header{
              background-color: #E3DBF9;
              .point-icon{
                background-color: $grape;
              }
            }
          }
        }
      }
    }
  }
  .content-body{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 15px;
  }
}

.chart-unit-warp{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
  .chart-unit{
    font-size: 12px;
    color: $sub-text;
  }
}
.unit{
  display: inline-block;
  margin-left: 3px;
  opacity: 0.5;
}
.unit-th{
  margin-left: 0;
  font-weight: 400;
  opacity: 0.8;
  font-size: 85%;
}

.table-frame-wrap {
  display: flex;

  .frame-thead {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2px;

    .frame-th {
      padding: 8px 10px;
      border-radius: 6px;
      font-size: 13px;
      line-height: 1;
      font-weight: 600;
      background-color: $black-alpha-30;
      text-align: center;
    }
  }
  .frame-tbody{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    gap: 2px;
    .frame-td{
      padding: 8px 10px;
      border-radius: 6px;
      font-size: 13px;
      line-height: 1;
      letter-spacing: -0.4px;
    }
  }
}

.table-basic {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;

  > thead > tr > th,
  > tbody > tr > th,
  > tbody > tr > td {
    padding: 8px 7px;
  }

  > thead > tr > th {
    background-color: $black-blue;
    color: $white;
    font-size: 12px;
    text-align: center;
    font-weight: 600;

    &:not(:last-of-type) {
      border-right: 1px solid $line-light;
    }
  }
  > tbody {
    > tr {
      &:nth-child(even) > td {
        background-color: $white-alpha-5;
      }

      &:last-of-type > td {
        border-bottom: 1px solid $line-light;
      }

      > td {
        font-size: 12px;
        text-align: right;

        &:not(:last-of-type) {
          border-right: 1px solid $line-light;
        }
      }
    }
  }
  &.table-tooltip{
    table-layout: fixed;
    width: 100%;
    border-radius: 6px;
    overflow: hidden;
    > thead > tr > th,
    > tbody > tr > th,
    > tbody > tr > td{
      padding: 6px 4px;
    }
    > thead > tr > th{
      background-color: #eaeaea;
      color: $grey-500;
      font-size: 12px;
      text-align: center;
      font-weight: 600;
      &:not(:last-of-type){
        border-right: 1px solid $grey-200;
      }
    }
    > tbody {
      > tr {
        &:nth-child(even) > td{
          background-color: $basic;
        }
        &:last-of-type > td{
          border-bottom: 1px solid $line-light;
        }
        > td {
          font-size: 12px;
          color: $body-font-color;
          font-weight: 400;
          text-align: center;
          background-color: $basic;
          &:not(:last-of-type) {
            border-right: 1px solid $line-light;
          }
        }

      }
    }
  }

  &.panel-box-table {
    border-radius: 10px;
    overflow: hidden;

    tbody > tr {
      > th {
        background-color: $black-alpha-20;
      }

      &:not(:last-of-type) > th, &:not(:last-of-type) > td {
        border-bottom: 0.5px solid $line-light;
      }

      > th, td{
        padding: 6px 10px;
        font-size: 13px;
      }
    }
    tbody > tr {
      > td {
          background-color: $white-alpha-5;
        }
      }
    > tbody {
      &.table-depth{
        border-top: 2px solid $line-light;
        > tr > th {
          font-weight: 400;
          text-align: right;
          font-size: 12px;
          padding-right: 0;
        }
        >tr > td{
          font-size: 12px;
          font-weight: 400;
        }
      }
      > .tr-highlight {
        > th {
          background-color: $black-alpha-40;
          color: $primary-deep;
        }

        > td {
          font-weight: 600;
          background-color: $black-alpha-30;
          color: $primary-deep;
        }
      }
    }
    }

}

.folding-btn-wrap{
  position: absolute;
  z-index: 2;
  top: calc(50% - 21px);
  left: 360px;
  transition: all 300ms;

  .folding-btn{
    background-color: $black-navy;
    width: 22px;
    height: 42px;
    border-radius: 7px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='9' height='16' fill='none'%3E%3Cpath stroke='%2354A6E7' stroke-linecap='round' stroke-width='3' d='M7 14 2.533 8.64a1 1 0 0 1 0-1.28L7 2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
  }

  &.folding-off{
    left: 60px !important;
    .folding-btn{
      background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 2L6.46651 7.35982C6.77555 7.73066 6.77555 8.26934 6.46651 8.64018L2 14' stroke='%2354A6E7' stroke-width='3' stroke-linecap='round'/%3E%3C/svg%3E%0A");
    }
  }

  &.side-panel-pos{
    left: 659px;
  }
}

.empty-message{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  .empty-text{
    font-size: 14px;
    font-weight: 500;
    color: $grey-200;
  }
}

.search-bed {
  position: absolute;
  z-index: 4;
  top: 77px;
  width: calc(100% - 20px);
  background-color: $blue-dark;
  border-radius: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  height: 400px;

  .MuiPaper-root {
    background-color: inherit;
    border-bottom: 1px solid $black-navy;
  }

  .search-bed-accordion {
    box-shadow: none;
    padding: 5px 10px;
    margin-top: 5px;

    &.Mui-expanded {
      margin: 0;
      padding: 5px 0 10px;
    }

    &:before{
      height: 0.5px;
      background-color: $line;
      content: none;
    }
    &:after{
      position: absolute;
      left: 0;
      bottom: -1px;
      right: 0;
      height: 0.5px;
      //content: "";
      opacity: 1;
      background-color: $line;
    }
    &.css-1elwnq4-MuiPaper-root-MuiAccordion-root:first-of-type {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
    .search-accordion-header{
      min-height: unset;
      padding: 10px;
      border-radius: 8px;

      &.Mui-expanded{
        padding: 10px 20px;
        background-color: unset;
      }
      .search-accordion-title{
        font-size: 14px;
        color: $body-font-color;
      }
      .MuiAccordionSummary-content{
        margin: 0;
      }
      .MuiAccordionSummary-expandIconWrapper{
        .MuiSvgIcon-root, .MuiSvgIcon-fontSizeMedium, .css-1m9ymud-MuiSvgIcon-root{
          font-size: unset;
        }
      }
    }
  }
    .search-bed-item-wrap {
    padding: 0 10px 0;

      .MuiList-root{
        border-radius: 8px;
        overflow: hidden;
        padding-top: 0;
        padding-bottom: 0;
        background-color: rgba(0, 0, 0, 0.3);
      }
    .search-bed-item{
      color: $body-font-color;
      padding: 12px 10px;
      .MuiTouchRipple-root{
      }
      &.item-on{
        background: rgba(84, 166, 231, 0.30);
      }
    }
  }
}

.form-control {
  display: flex;
  align-items: center;
  gap: 8px;

  &.group{
    justify-content: space-between;
  }

  span{
    color: $body-font-color;
    font-weight: bold;
  }

  .date-picker {
     *{
      border: 0;
      outline: 0;
      outline-offset: 0;
    }

    .MuiInputBase-root {
      border-radius: 8px;
      background-color: $blue-dark;
      outline: 0;
      outline-offset: 0;

      input {
        padding: 6px 0 6px 10px;
        font-size: 13px;
        color: #f5f5f5;
        font-weight: 300;
      }

      .MuiButtonBase-root {
        .MuiSvgIcon-root {
          font-size: 19px;
          color: rgba(255,255,255,0.5);
        }
      }
    }
  }

  .toggle-btn-wrap{
    padding: 0;
    position: relative;
    width: 100%;
    &.css-1ujnqem-MuiTabs-root{
      min-height: unset;
    }

    .MuiTabs-flexContainer {
      border-bottom: 0;
      background-color: $blue-dark;
      border-radius: 8px;
      padding: 3px;

      .tab-item {
        z-index: 3;
        flex: 1 0 auto;
        font-weight: 400;
        padding: 0;
        min-width: 30px;
        min-height: 30px;
        overflow: hidden;
        color: $white-alpha-50;

        .MuiTouchRipple-root {
          border-radius: 6px;
          background-color: unset;
        }

        &.Mui-selected {
          font-weight: 500;
          color: $white;
        }
      }

    }

    .MuiTabs-indicator {
      display: flex;
      justify-content: center;
      background-color: transparent;
      position: absolute;
      top: 3px;
      left: 3px;
      z-index: 2;

      &:after {
        content: '';
        height: 30px;
        border-radius: 6px;
        width: 100%;
        background-color: $primary;
      }
    }
  }
}

.MuiDayCalendar-weekContainer{
.css-qa7bje-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
  background-color: $primary;
}
  .css-qa7bje-MuiButtonBase-root-MuiPickersDay-root.Mui-selected:hover{
    background-color: $primary;
  }
}

.content-list-wrap{
  display: flex;
  flex-direction: column;
  gap: 10px;
    .content-list{
      padding-bottom: 0;
      padding-top: 0;
      font-weight: 600;
      display: flex;
      flex-direction: column;
      gap: 10px;

      li {
        background-color: unset;
        padding: 0;
      }

      .content-list-item {
        position: relative;
        background-color: $blue-dark;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        height: 100px;
        max-height: 100px;
        overflow: hidden;
        padding: 0;

        .list-title-wrap{
          position: absolute;
          top: 4px;
          left: 4px;
          z-index: 3;
          width: calc(100% - 7px);
          display: flex;
          justify-content: space-between;
          align-items: flex-start;

          .list-title, .list-title-sub {
            background-color: $black-deep;
            padding: 7px 9px;
            border-radius: 6px;
          }

          .list-title {
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 8px;
            line-height: 1;
            color: $white;
          }

          .list-title-sub {
            font-size: 12px;
            line-height: 1;
            margin: 0;
            color: $sub-text;
            font-weight: 400;
          }
        }

        .list-body{
          width: 100%;
          height: 100%;
          overflow: hidden;
          .list-shadow{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) 0%, rgba(0, 0, 0, 0.00) 100%);
          }
          .img-box{
            img{
              transition: all 300ms;
              object-fit: cover;
              object-position: 50% 50%;
              transform-origin: center;
            }
          }
        }

        &.item-on{
          border: 4px solid $primary;
          padding: 0;
          color: $white;
          .list-title-wrap {
            top: 0;
            left: 0;
            width: 100%;
            .list-title, .list-title-sub{
              background-color: $primary;
              color: $white;
            }
            .list-title{
              border-radius: 0 0 6px 0;
              font-weight: 600;
            }
            .list-title-sub{
              border-radius: 0 0 0 6px;
            }
          }
          .list-body{
            .list-shadow{
              background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.00) 100%);
            }
            .img-box{
              img {
                transform: scale(1.1);
                transform-origin: center;
                object-fit: cover;
                object-position: 50% 50%;
              }
            }
          }
        }
        &:hover{
          .img-box{
            img {
              transform: scale(1.1);
              transform-origin: center;
            }
          }
        }
      }
  }

}

.panel-tabs-wrap {
  &.MuiTabs-root {
    min-height: 40px;
  }

  .MuiTabs-flexContainer {
    width: 100%;
    border-bottom: 1px solid $line-light;

    .tab-item {
      flex: 1 0 50%;
      font-weight: 400;
      padding: 0;
      min-width: 70px;
      min-height: 40px;
      color: $white-alpha-50;

      &.Mui-selected {
        font-weight: 600;
        color: $body-font-color;
      }
      &.Mui-disabled{
        color: #c4c4c4;
      }
      .MuiTouchRipple-root{
        > *{
          //background-color: $primary;
        }
      }
    }
  }
  .MuiTabs-indicator{
    display: flex;
    justify-content: center;
    background-color: transparent;
    &:after{
      content: '';
      height: 2px;
      border-radius: 2px;
      width: 80px;
      background-color: $primary;
    }
  }
}

.control-box-wrap{
  background-color: $grey-200;
  padding: 8px 0;
  border-radius: 10px;
  .control-box{
    .switch-item{
      padding: 4px 10px;
      display: flex;
      justify-content: space-between;
      .switch-label{
        font-size: 14px;
      }
    }
  }
}
.control-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px 10px 10px;
  border-bottom: 1px solid rgba(0,0,0,0.05);

  .switch-label {
    font-size: 14px;
  }

  &.accordion {
    flex-direction: column;
    justify-content: flex-start;
    background-color: $black-navy;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    border-bottom: 0;
    padding: 0;
    color: inherit;
    margin-top: auto;

    &.Mui-expanded {
      margin-top: auto;
    }

    &:before {
      content: none;
    }

    .accordion-header {
      width: 100%;
      min-height: unset;
      padding: 15px 15px 15px 10px;
      margin: 0;

      .Mui-expanded, .MuiAccordionSummary-content {
        margin: 0;

        &.MuiAccordionSummary-expandIconWrapper {
          height: 2px;
          width: 13px;
          background-color: #454545;
          border-radius: 3px;
          overflow: hidden;
        }
      }
    }
    .css-12if0ny-MuiSvgIcon-root, .MuiSvgIcon-fontSizeMedium, .MuiSvgIcon-root{
      font-size: 12px;
    }

    .accordion-title {
      font-size: 14px;
      font-weight: 500;
    }

    .MuiCollapse-root {
      width: 100%;
    }

    .accordion-content {
      background-color: $white-alpha-5;
      border-radius: 10px;
      margin: 0 10px 10px;
      padding: 15px;

      dl {
        line-height: 1.5;

        dt {
          font-weight: 500;
        }

        dd {
          color: $white-alpha-50;
        }

        &:not(:last-of-type) {
          margin-bottom: 15px;
        }
      }
    }
  }
}


.tooltip-icon{
  margin-bottom: -1px;
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.25 4.25H8.75V5.75H7.25V4.25ZM7.25 7.25H8.75V11.75H7.25V7.25ZM8 0.5C3.86 0.5 0.5 3.86 0.5 8C0.5 12.14 3.86 15.5 8 15.5C12.14 15.5 15.5 12.14 15.5 8C15.5 3.86 12.14 0.5 8 0.5ZM8 14C4.6925 14 2 11.3075 2 8C2 4.6925 4.6925 2 8 2C11.3075 2 14 4.6925 14 8C14 11.3075 11.3075 14 8 14Z' fill='%23A5A5A5'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
}
.MuiTooltip-tooltip{
  &.css-ja5taz-MuiTooltip-tooltip{
    color: $body-font-color;
    max-width: 330px;
    background-color: $white;
    padding: 0;
    border-radius: 10px;
    box-shadow: $box-shadow;
  }
}
.tooltip-content-wrap{
  //position: absolute;
  //top: 20px;
  //left: 0;
  //z-index: 5;
  //background-color: $white;
  padding: 10px;
  //border-radius: 10px;
  //box-shadow: $box-shadow;
  .tooltip-title{
    font-size: 13px;
    margin-bottom: 10px;
  }
  p.tooltip-content{
    min-width: 180px;
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
  }
}