
$body-font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
$body-font-color: #f5f5f5;
$sub-text: #9a9a9a;

$primary: #54A6E7;
$primary-deep: #0884E5;
$primary-500: #B4DEFF;
$primary-300: #C7E2F7;
$primary-200: #E3EFF8;
$primary-100: #EEF6FD;
$navy: #004478;
$orange: #FF9933;
$leaf: #0DB6A2;
$grape: #724BE0;

$grey-500: #717171;
$grey-400: #969696;
$grey-300: #ADADAD;
$grey-200: #D9D9D9;
$grey-100: #E4E4E4;
$basic: #f5f5f5;
$line-light: rgba(255,255,255,0.13);
$line: rgba(255,255,255,0.5);
$white: #ffffff;
$black-deep: #232220;
$black-blue: #152837;
$black-navy: rgba(27, 36, 43, 0.90);
$blue-dark: #384550;
$blue-deep: #1e2832;

$box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.20);

$hover: rgba(84, 166, 231, 0.15);