

$body-font-color: #3D3D3D;
$sub-text: #9a9a9a;

$primary: #54A6E7;
$primary-500: #B4DEFF;
$primary-300: #C7E2F7;
$primary-200: #E3EFF8;
$primary-100: #EEF6FD;
$navy: #004478;
$orange: #FF9933;

$grey-400: #969696;
$grey-300: #ADADAD;
$grey-200: #D9D9D9;
$basic: #f5f5f5;
$line: #EDEDED;
$white: #ffffff;
$black-deep: #232220;
$black-blue: #152837;
$black-navy: rgba(27, 36, 43, 0.90);

$box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.20);

$hover: rgba(84, 166, 231, 0.15);