@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

@import "icons/feather";
@import "icons/materialdesignicons";

@import "variables";
@import "reset";
@import "main";
@import "responsive";


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul{
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6{
  margin: 0;
}

dl, dt, dd, ul, li{
  margin: 0;
}

button{
  background-color: unset;
}


::-webkit-scrollbar-thumb {
  background: $white-alpha-30;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background: $white-alpha-10;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.text-blue{
  color: $primary;
  font-weight: 500;
  margin-right: 3px;
}

.text-grey{
  color: $grey-300;
}

.ml-5{
  margin-left: 5px;
}
.ml-3{
  margin-left: 3px;
}

.pb-0{
  padding-bottom: 0;
}
.mb-0{
  margin-bottom: 0;
}

.d-none{
  display: none;
}

.btn {
  font-family: $body-font-family !important;
  padding: 10px 15px;
  font-size: 13px;
  color: #fff;
  background-color: $black-navy;
  border-radius: 8px;
  line-height: 1;
  cursor: pointer;

  &.empty-btn {
    background-color: transparent;
    border: 1px solid $line;
    padding: 10px 15px;
    font-size: 13px;
    color: #fff;
    border-radius: 8px;
    line-height: 1;
  }

  &.btn-map-data {
    box-shadow: $box-shadow;
  }
}